{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .Slideshow__controls-{{ section.id }} {
    display:  none;
  }
{%- endstyle -%}

<div class="announcement-bar color-{{ section.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" style="{%- unless section.settings.background_color == empty -%}background-color: {{ section.settings.background_color }}{%- endunless -%}">
  <div class="page-width announcement-bar__wrapper">
    <slideshow-component class="slider-mobile-gutter" role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" aria-label="{{ section.settings.accessibility_info | escape }}">
       {%- if section.settings.auto_rotate and section.blocks.size > 1 -%}
        <div id="Slideshow__controls-{{ section.id }}" class="slideshow__controls slideshow__controls--top slider-buttons hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
          {%- if section.settings.auto_rotate -%}
            <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
              {%- render 'icon-pause' -%}
              {%- render 'icon-play' -%}
            </button>
          {%- endif -%}
        </div>
        <noscript>
          <div class="slider-buttons">
            <div class="slider-counter">
              {%- for block in section.blocks -%}
                <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                  {{ forloop.index }}
                </a>
              {%- endfor -%}
            </div>
          </div>
        </noscript>
      {%- endif -%}
      <div class="slideshow grid grid--1-col slider slider--everywhere" id="Slider-{{ section.id }}" aria-live="polite" aria-atomic="true" data-autoplay="{{ section.settings.auto_rotate }}" data-speed="{{ section.settings.change_slides_speed }}" data-slides-count="{% if section.settings.auto_rotate and section.blocks.size > 1 %}{{ section.blocks.size }}{% else %}1{% endif %}">
        {%- for block in section.blocks -%}
          {%- if block.settings.text != blank -%}
            <div class="slideshow__slide grid__item grid--1-col announcement-bar__message slider__slide {{ block.settings.text_alignment }}" id="Slide-{{ section.id }}-{{ forloop.index }}" {{ block.shopify_attributes }} role="group" aria-roledescription="{{ 'sections.slideshow.slide' | t }}" aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" tabindex="-1">
              {{ block.settings.text }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </slideshow-component>
    {%- if section.settings.announcement_menu != blank -%}
      <nav class="header__inline-menu header__inline-announcement_menu small-hidden">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.announcement_menu.links -%}
            <li class="link-{{ link.handle }}">
              <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "default": "#ffffff",
      "label": "t:sections.announcement-bar.settings.background.label"
    },
    {
      "type": "link_list",
      "id": "announcement_menu",
      "default": "main-menu",
      "label": "t:sections.announcement-bar.settings.announcement_menu.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Welcome to our store</p>",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
