{{ 'section-blog-banner.css' | asset_url | stylesheet_tag }}
{% if blog.articles.size > 0 %}

  {%- if section.settings.adapt_height_first_image and blog.articles.first.image != blank -%}
    {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
      
    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
    {%- endstyle -%}
  {%- endif -%}
  
  {%- style -%}
    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
  {%- endstyle -%}
  <div class="container">
  <div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and blog.articles.first.image != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
    {%- if blog.articles.first.image != blank -%}
      <div class="banner__media media{% if blog.articles.first.image == blank %} placeholder{% endif %}">
        {%-liquid
          assign image_height = blog.articles.first.image.width | divided_by: blog.articles.first.image.aspect_ratio
          assign sizes = "100vw"
        -%}
        <deferred-media class="deferred-media media" data-media-id="{{ blog.articles.first.image.id }}">
          <img data-srcset="{{ blog.articles.first.image | image_url }} {{ blog.articles.first.image.width }}w" data-src="{{ blog.articles.first.image | image_url }}" src="{{ blog.articles.first.image | image_url: width: 165 }}" sizes="{{ sizes }}" alt="{{ blog.articles.first.image.alt | escape }}" class="motion-reduce" width="{{ blog.articles.first.image.width }}" height="{{ blog.articles.first.image.height }}">
        </deferred-media>
      </div>
    {%- endif -%}
  </div>


    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} banner__content_mobile--{{ section.settings.mobile_content_position }} page-width">
      <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
        <div class="banner__text caption-with-letter-spacing">
          <span>{{ 'sections.blog-banner.last_post.label' | t }}</span>
        </div>
        <h2 class="banner__heading h2">
          <span>{{ blog.articles.first.title }}</span>
        </h2>
        <div class="banner__text subtitle">
          <span>{{ blog.articles.first.excerpt_or_content }}</span>
        </div>
        <div class="banner__buttons">
          <a href="{{ blog.articles.first.url }}" class="button button--primary">{{ 'sections.blog-banner.link.label' | t }}</a>
        </div>
      </div>
    </div>
      </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.blog-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.blog-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.blog-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.blog-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.blog-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.blog-banner.settings.image_height.label",
      "info": "t:sections.blog-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.blog-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.blog-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.blog-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.blog-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.blog-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.blog-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.blog-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.blog-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.blog-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.blog-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.blog-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.blog-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.blog-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.blog-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.blog-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.blog-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.blog-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.blog-banner.settings.show_text_below.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog-banner.presets.name"
    }
  ]
}
{% endschema %}